<div class="container">
  <div class="row text-center">
    <div class="col-md-6 bg-light">
      <h2>管理者側プロフィール編集</h2>
    </div>
  </div>
<%= form_with model: @public, url: admin_public_path(@public.id) do |f| %>
<div class="container">
  <h4>
    <div>
      <div class="field">
        <div style= "margin:20px;">
          苗字
        </div>
        <div style="padding-left:54px;">
          <%= f.text_field :family_name %>
        </div>
      </div>
      <div class="field">
        <div style= "margin:20px;">
          名前
        </div>
        <div style="padding-left:54px;">
          <%= f.text_field :first_name %>
        </div>
      </div>
      <div class="field">
        <div style= "margin:20px;">
          メールアドレス
        </div>
        <div>
    　　   <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    　　</div>
    　</div>
    　<div style="padding-left:23px;">
    　   <%= f.submit "変更を保存", class: "btn btn-success" %>
    　</div>
    </div>
  </h4>
</div>
<% end %>