<h1>投稿一覧</h1>

<%= @movies.each do |movie| %>
  <p>
    上映日<%= movie.day %>
    製作国<%= movie.country %>
    上映時間<%= movie.time %>
  </p>

  <p>タイトル
  　<%= movie.title %>
  </p>
  <p>あらすじ
    <%= movie.body %>
  </p>
<% end %>
