<!DOCTYPE html>
<html>
  <head>
    <title>MovieBoard</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <% if admin_signed_in? %>
      <li>
        <%= link_to "映画一覧", admin_movies_path %>
      </li>
      <li>
        <%= link_to "映画追加", new_admin_movie_path %>
      </li>
      <li>
        <%= link_to "ユーザー一覧", admin_public_index_path %>
      </li>
      <li>
        <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
      </li>
    <% elsif customer_signed_in? %>
      <li>
        <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
      </li>
      <li>
        <%= link_to "マイページ", public_path(current_customer.id) %>
      </li>
      <li>
        <%= link_to "映画一覧", movies_path %>
      </li>
    <% else %>
      <li>
        <%= link_to "新規登録", new_customer_registration_path %>
      </li>
      <li>
        <%= link_to "ログイン", new_customer_session_path %>
      </li>
      <li>
        <%= link_to "映画一覧", new_customer_session_path %>
      </li>
      <li>
        <%= link_to "管理者ログイン", new_admin_session_path %>
      </li>
    <% end %>
    </header>
    <%= yield %>
  </body>
</html>
